.signin-page {
  padding-left: 200px; /* Optional: Set the height of the container to the full viewport height */
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
